{% extends "blog/aptbase.html" %}
{% block content %}
        <div class="tphoto">
            <img src = "https://g5-assets-cld-res.cloudinary.com/image/upload/x_0,y_0,h_1338,w_2007,c_crop/q_auto,f_auto,c_fill,g_center,h_500,w_750/v1530654365/g5/g5-c-1t2d31r8-berkshire-communities/g5-cl-57om8kvx9-the-benjamin/uploads/Benjamin-3Bedroom-Screenshot_uuatio_bhwy8i.jpg" title="tphoto" alt="Tinder Photo" width="500" height="400" />
            <div class="tname">Beacon St, <span class="age">Allston</span></div>
            <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div>
        </div>

          <br>
          <br>

            <div class="price">Price: $4500 Per Month</div>
            <br>
            <br>
            <div class="fee">Fee: $200</div>
            <br>
            <br>
            <div class="duration">Duration: 24 Months</div>
            <br>
            <br>
            <div class="begining">Begining: 1/1</div>
{% endblock content %}
{% block link1 %}
    <a href = "{% url 'blog-apt4' %}">
{% endblock link1 %}

{% block link2 %}
    <a href = "{% url 'blog-apt4' %}">
{% endblock link2 %}
